table.set-board {
  border-spacing: 2px;
  border-collapse: separate;
}
table.set-board tr td {
  width: 4em;
  height: 3em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  padding: 0 !important;
  color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 4px;
}
table.set-board td:not(:empty) {
  background: gray;
}
table.set-board td:empty.card-visible {
  border: 1px solid rgba(0, 0, 0, .2);
}
table.set-board td.card-visible.card-control {
  background: rgba(255, 255, 0, .25);
  border-color: rgb(128, 64, 0);
}
table.set-board td.card-blocked {
  background: rgba(0, 255, 0, .25);
  border-color: rgb(64, 128, 0);
  cursor: wait;
}
table.set-scores th,
table.set-scores td {
  padding: 1px 1em;
}

/*
GRAPHICS
*/

table.set-board tr td svg {
  height: 73%;
  max-width: 22%;
}

table.set-board tr td svg.diamond {
  height: 78%
}

table.set-board tr td div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

table.set-board tr td svg+svg {
    margin-left: 3.5%
}

table.set-board tr td svg+svg.oval {
    margin-left: 4%
}

/*
NIGHT MODE
*/

table.set-board td.card-visible {
  color: rgba(0, 0, 0, 1);
  background: rgba(230, 230, 230, 1);
}

table.set-board td.card-visible.night-mode {
  color: rgba(200, 200, 200, 1);
  background: rgba(40, 40, 40, 1);
}

table.set-board td.card-visible.card-control.night-mode {
  background: rgba(0, 0, 255, .25);
  border-color: rgb(128, 200, 256);
}

table.set-board td.card-visible.transition-mode {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}